# ensure cache.manifest is served with correct MIME type

AddType text/cache-manifest .manifest

# don't allow cache.manifest file itself to be cached

<Files cache.manifest>
	ExpiresActive On
	ExpiresDefault "access"
</Files>
