.ui-content {background:#d3321b;}
.ui-btn-up-c {background:#000;}
.ui-btn-up-c:hover{background:#000;}
.ui-btn-down-c a.ui-link-inherit,
.ui-btn-up-c a.ui-link-inherit{color:white;}
#header_image{text-align:center;}